# Version control
.git
.gitignore
.gitattributes

# Dependencies
**/node_modules

# Development
**/.vscode
**/.idea
**/README.md
**/LICENSE

# Build outputs
**/dist
**/build
**/.next
**/.vercel
**/coverage

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# Cache
**/.eslintcache
**/.npm
**/.pnpm-store